{% macro displayNews(current_news_list) %} {% for current_news in
    current_news_list %}
    <div class="col-md-4">
      <div
        class="card"
        style="
          box-sizing: border-box;
          border: rgb(28, 54, 78) solid;
          padding: 2px;
          border-radius: 2.5%;
          margin: 5px;
          background-color: beige;
        "
      >
        <div class="card-body">
            <a href="/news/{{current_news.id}}" class="text-decoration-none">
                <h3 style="color: rgb(228, 8, 248); font-family: sans-serif"class="card-title text-center">{{ current_news.name}}</h3>
            </a>
          <p style="font-size: large; font-family: 'Comic Sans', sans-serif" class="card-text">
            {{current_news.url}}
          </p>
          <a href="/news/{{current_news.id}}" class="btn btn-success">Articles</a>
        </div>
      </div>
    </div>
    {% endfor %} {% endmacro %}